:root {
    --bg-color: #1e1e1e;
    --text-color: #e0e0e0;
    --primary-color: #646cff;
    --secondary-color: #535bf2;
    --input-bg: #2a2a2a;
    --status-bg: #2a2a2a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 98%;
    display: flex;
    flex-direction: column;
    height: 95vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.github-link {
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.github-link:hover {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.code-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.input-area, .output-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.output-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-message {
    font-size: 0.8rem;
    color: var(--text-color);
}

textarea, .line-numbered-area {
    flex: 1;
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.9rem;
    resize: none;
    overflow: auto;
    white-space: pre;
}

@media (max-height: 600px) {
    .container {
        height: 98vh;
    }
    
    h1, .github-link {
        font-size: 1.2rem;
    }
    
    h2 {
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
    
    textarea, .line-numbered-area {
        font-size: 0.8rem;
    }
}